@import "ember-bootstrap/bootstrap";

@font-face {
  font-family: MoonFlower;
  src: url('/assets/fonts/Moon Flower.ttf');
}

body {
  background-image: url('/images/paper.png');
  font-family: 'MoonFlower';
  font-size: 24px;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 3rem;
}

.outer-wrapper {
  width: 100%;
}

.navigation {
  a {
    font-size: 42px;
    transition: all .22s;
    text-decoration: none;
    padding: 1rem 4rem;
  }

  a:hover {
    padding-left: 3rem;
  }

  a.active {
    padding-left: 3rem;
  }
}

.content > .liquid-container {
  perspective: 1000px;
  overflow-y: visible;
  overflow-x: visible;
}

.content > .liquid-container > .ember-view {
  margin-top: 5rem;
  box-shadow: 2px 2px 20px;
  width: 60%;
  display: inline-block;
  background-color: white;
  backface-visibility: hidden;
  padding: 2rem;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

form {
  display: inline-block;
}

.feature-image {
  width: 100%;
  cursor: pointer;
}

.more-image {
  font-size: 64px;
  position: absolute;
  left: 5%;
  top: 20%;
}

.liquid-animating .more-image {
  display: none;
}

.right-pane {
  width: 20rem;
  height: 100%;
  right: 0;
  top: 0;
  padding-top: 20rem;
  position: absolute;
}
