@import "ember-bootstrap/bootstrap";

@font-face {
  font-family: MoonFlower;
  src: url('/assets/fonts/Moon Flower.ttf');
}

body {
  background-image: url('/images/paper.png');
  font-family: 'MoonFlower';
  font-size: 24px;
}

h1 {
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-bottom: 2rem;
}

h2,h3 {
  font-weight: bold;
  font-size: 32px;
  margin-top: 5rem;
}

h3.subtitle {
  margin-top: 0rem;
}

p,ul,li {
  text-align: justify;
  font-family: georgia;
  font-size: 18px;
  margin-top: 5rem;
  margin-left: 10rem;
  margin-right: 10rem;
}

li {
  margin-top: 2rem;
  margin-left: 0rem;
  margin-right: 0rem;
}

p:last-child {
  margin-bottom: 3rem;
}

.outer-wrapper {
  width: 100%;
}

.navigation {
  height: 5rem;

  a {
    @media (max-width: 320px) {
      font-size: 32px;
    }
    font-size: 42px;
    transition: all .22s;
    text-decoration: none;
    padding: 0.5rem;
  }

  a:hover,a.active:hover {
    @media (max-width: 360px) {
      font-size: 42px;
    }
    font-size: 58px;
  }

  a.active {
    @media (max-width: 360px) {
      font-size: 42px;
    }
    font-size: 58px;
  }

  div {
    vertical-align: top;
    display: inline-block;
  }
}

.full-content {
  background-color: white;
  font-family: arial;
  font-size: 12px;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 2px 2px 20px;
}

.content > .liquid-container {
  perspective: 1000px;
  overflow-y: visible;
  overflow-x: visible;
}

.content > .liquid-container > .ember-view {
  margin-top: 5rem;
  box-shadow: 2px 2px 20px;
  border-radius: 3px;
  width: 60%;
  @media (max-width: 360px) {
    width: 90%;
  }
  display: inline-block;
  background-color: white;
  backface-visibility: hidden;
  padding: 2rem;
  margin-bottom: 10rem;
}

.login-box {
  height: 10rem;
  padding-top: 2rem;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.fix-bottom {
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-weight: bolder;
  z-index: -1;
}

form {
  display: inline-block;
  width: 35rem;

  input[type=text],input[type=number],textarea {
    width: 35rem;
  }
}

.feature-image {
  width: 100%;
  cursor: pointer;
}

.more-image {
  position: absolute;
  top: 20%;
  z-index: -1;
}

@media (max-width: 360px) {
  .more-image {
    top: 100%;
    width: 100%;
    img {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .more-image {
    font-size: 48px;
    left: 2%;
  }
}

@media (min-width: 1024px) {
  .more-image {
    font-size: 64px;
    left: 4%;
  }
}

.liquid-animating .more-image {
  display: none;
}
