<h1>Lodging</h1>

<h2>Staying at Camp Laurelwood</h2>
<p>
  If you'd like to stay at Camp Laurelwood, that’s where we’ll be!
  We've arranged for bunk beds to be available Friday and Saturday
  night. We’re so excited to be surrounded by our family and friends
  in this time. We're asking guests who would like to stay at
  Camp Laurelwood to cover their own lodging costs,
  which are $55/night and includes full meals.
  Here are some details about what staying in the camp will be like:
</p>

<ul>
   <li>
     Camp Laurelwood will provide Shabbat dinner on Friday;
     breakfast, lunch and dinner on Saturday; snacks at all hours,
     and a pre-wedding meal on Sunday, in its dining hall.
   </li>
   <li>
     The camp has a variety of facilities to use and enjoy,
     including a tennis court, basketball court, lake, pool,
     and baseball diamond. No swimming is allowed in the pool
     or lake without a lifeguard present; we'll be providing a
     lifeguard for at least a couple hours at different times in
     the weekend.
   </li>
   <li>
     The beds are twin beds in multi-bunk cabins.  No linens are
     provided, so bring a sleeping bag or blankets, and a towel!
   </li>
   <li>
     There are bathrooms and showers at the camp.
   </li>
   <li>
     It is rustic! Imagine the camp bunk you might have grown up
     going to.
   </li>
   <li>
     All the food is kosher-certified and vegetarian.
   </li>
   <li>
     There is an eruv.
   </li>
</ul>

<p>
  If you'd like to stay at Camp Laurelwood,
  please <a class='btn btn-primary' href="https://goo.gl/forms/345053Bz4oU5Jr9p2" target="_blank">click here to RSVP</a>.
  We'll send an email later on letting you know which
  bunk to head to when you arrive!
  We ask that all guests planning on staying at
  Camp Laurelwood make a reservation by August 11th.
</p>

<h2>Staying in New Haven</h2>
<p>
  Camp Laurelwood is 30 minutes from New Haven, where Rebekah and her
  sisters have spent much time over the years. There are many hotel
  options in New Haven. Some places we recommend in New Haven
  include The Study, the New Haven Hotel, and the Omni.  We have a
  block of hotel rooms reserved at the
  <a href="https://www.omnihotels.com/hotels/new-haven-yale/weddings/emanuel-shafir-wedding" target="_blank">Omni</a>
  (just mention the Emanuel-Shafir wedding). Please book rooms at the Omni by
  July 25th.  As it is back-to-school season in September we
  recommend booking rooms in New Haven early.
</p>

<h2>Staying in the Madison area</h2>
<p>
  Many of the hotels in Madison are small and book quickly.
  You can check out the Comfort Inn, the Tidewater Inn, and
  Scranton Seashore Inn and the Captain Stannard Inn in
  Westbrook. We love airbnb too, which can often be more personal.
</p>

<br />
<br />
<br />
