
<img class="feature-image" src="/images/shebekah/{{imageId}}.jpg" {{action "newPicture"}} />

<div class="more-image">
  Click here<br/>for More<br/><img src="/images/arrow.png" height="100px"/>
</div>
