<div class="container-fluid">
  <div class="row align-center">
    {{write-text text="Bekah and Michael"}}
    {{write-text text="Are getting married!" fontSize=36}}
  </div>
  <div class="row align-center">
    <img class="feature-image" src="/images/shebekah/{{imageId}}.JPG" {{action "newPicture"}} />
  </div>
</div>

<div class="right-pane">
  <div class="row">
    <div>{{#link-to "events"}}Story{{/link-to}}</div>
    <div>{{#link-to "events"}}Details{{/link-to}}</div>
    <div>{{#link-to "events"}}Events{{/link-to}}</div>
  </div>
</div>
