<h1>Getting There</h1>
<p>Camp Laurelwood is... </p>
<ul>
  <li>30 minutes from New Haven</li>
  <li>2 hrs and 15 minutes from Boston</li>
  <li>2 hrs and 15 minutes from New York</li>
</ul>
<p>
  If you are driving, or want to hitch a ride, please sign up here:
  <a class='btn btn-primary' href="https://www.groupcarpool.com/t/2v9mz5" target="_blank">Group Car Pool</a>
  We are considering adding a bus, if lots of people want to hitch a
  ride at the same time from the same place but we don’t have enough
  cars driving. So please do sign up in advance, even if you don’t
  drive, that way we’ll know how many people want to travel when and
  where!
</p>

<hr />

<h1>If you are staying in New Haven:</h1>

<h2>Ground transport:</h2>
<ul>
  <li>
    We recommend taking Amtrak or the Metro North to New Haven's
    Union Station for those who are on the East Coast.
    (You can then catch a ride with other wedding guests,
    or if no one is going then, it is then about a $30 lyft ride to camp.)
  </li>
  <li>
    If you're one of the carpool drivers, or just driving your
    family, Yale has parking lots open for free to the public
    during the weekend, beginning at 4pm on Friday. There will
    also be parking available at Camp Laurelwood.
  </li>
</ul>

<h2>Par Avion:</h2>
<ul>
  <li>
    <b>New York City:</b> if you fly into Laguardia or JFK, you can make
    it to Grand Central Station and then take the Metro North to
    New Haven's Union Station. The Metro North ride from Grand
    Central to New Haven is just under two hours.  If (heaven
    forbid) you fly into Newark, you can also make it into Manhattan
    via NJ Transit and take the Metro North, or you can take
    Amtrak directly to New Haven.
  </li>
  <li>
    <b>Hartford:</b> if you fly into Bradely Airport in Hartford,
    train service is more difficult, but Camp Laurelwood is only
    about one hour away by car.  In addition to rental services
    at the airport, you can also book a shuttle service like
    Connecticut Limo.  In our experience, the Hartford shuttle
    services will get you there eventually, but it's best to budget
    an extra hour (or two) for potential delays.
  </li>
</ul>

<h2>By sea:</h2>
<ul>
  <li>
    New Haven is one of the nation's oldest deep-water ports.
    Today, New Haven's 366-acre port district is primarily
    comprised of a cluster of privately owned facilities that
    handle petroleum products, general bulk, cargo, scrap metal,
    metallic products, cement, sand, stone, salt, break bulk
    and project cargo.  If you are traveling by sea, we want
    to hear the story!
  </li>
</ul>

<br />
<br />
<br />
