<h1>Shabbat</h1>

<p>We have friends and family with a wide variety of backgrounds and creeds. We will be starting the celebrations over Shabbat, the Jewish day of rest.
	People who will be surrounding us on this weekend’s reactions to Shabbat include:
</p>
<ul>
	<li>What’s Shabbat?</li>
	<li>Oh, I think I’ve heard of this. Isn’t that why Rebekah walked 8 hours that day? (Or: couldn’t use his cell phone, or lives near her community). I couldn’t believe it when I first heard it described. I’m so curious to see it in action.</li>
	<li>Shabbat’s my favorite day of the week! Shall I tell you about my Shabbat traditions?</li>
</ul>

<p>
For one of Rebekah’s favorite descriptions of Shabbat as a sanctuary in time (vs a sanctuary in space, which is usually how we think about things) see Abraham Joshua Heschel’s The Sabbath.
</p>

<h2>A quick Shabbat 101: </h2>
<p>
Jewish tradition sets aside 6 days for making the world better. And on the 7th day our charge is just to appreciate it, as it is, without trying to improve it. To simply be, and figure out how to praise what is.  (Great relationship advice, if ever I heard it.)
</p>

<p>
One of the ways that we make this real is that certain tasks are done on the first six days but not on Shabbat. Traditionally this list includes the component activities in making food, shelter, clothing, commerce, and… because we are Jews… making books.
</p>

<p>
(One interesting choice Jewish tradition made was to choose to not do all the component tasks, not just the end result in question. So this means avoiding the tasks involved in making food e.g. avoiding plowing, planting seeds, setting up a fire. But it means a fire in any circumstance: not just a fire to cook things, but any fire at all.  The result is that for the people keeping this tradition, everyone is pretty much in sync on what activities folks are doing and not, rather than constantly debating what the point of each activity is.)
</p>

<p>
Because of these traditions Michael and Rebekah and their communities tend to live in walking distance of each other, and have brilliantly unscheduled days, all at the same time, every week. It’s a day for eating 3-hour 4-course meals, finished up by singing and story telling, going on long wander-y walks to the river, friends dropping by un-announced because ‘hey, they’ll probably be home’, playing games in the park, reading books aloud, and taking naps. We hope you’ll enjoy those things as much as we do!
</p>

<p>
(One of our favorite results is that friends who don’t practice this have learned our routines and have begun dropping by on Shabbat, because they know we’ll be home.)
</p>

<h2>What this will mean at camp. </h2>
<p>
Our community is diverse, and we love it that way. We’ll be keeping Shabbat, but expect that each person will do what works for them.  The camp will have boats, bikes, and fire pits (traditionally not Shabbat friendly activities) and we ask that you consult your own traditions when deciding what works for you. We do ask that you not use electronics in the public spaces, shared cabins, or main buildings—there will be a cabin with good internet access (as good as the camp has, at least) set aside for electronics use. We will also have one hall that accommodates and celebrates music, for those whose traditions include music on Shabbat (including if your tradition is Catholicism, instrument-inclusive Shabbat, or Hinduism! All of which we hope will be represented!) The scheduled activities will include Michael and Rebekah’s Shabbat traditions, but feel free to do as much or as little as appeals – it’s a day for you to rest and enjoy and start celebrating!
</p>

<h2>Singing</h2>
<p>
 A lot of Shabbat includes singing. Rebekah is always off key, but as Michael said on one of their first dates “You have to sing! I don’t have a great voice either, but its part of how you learn.” Even if you don’t know the words, and are chronically off key, sing along with dee-dums or drumming on the table, or adding a doou-op in there whenever the spirit strikes.
</p>
