<h1><a href='http://www.bakupalace.com/' target="_blank">Baku Palace</a></h1>
<h2>2001 Emmons Ave, Brooklyn, NY 11235</h2>

<p>
Please come share the moment we first enter marriage!
We will be getting married near the water at Baku Palace.
We would be honored to celebrate together.
</p>

<p>
When we asked each other what was the most important thing about
imagining a wedding together, we wanted to be surrounded by people
who have been part of our lives and our family’s lives back through
the years, who helped bring us to this day.
</p>

<p>
We will gather at Baku Palace to join our lives together in the
presence of family and community.
</p>
