<h1>Our Story</h1>

<p>
The announcers were up on stage. “Ukulele lessons!”
</p>

<p>
The announcer leaned in, “How many ukulele lessons?”
</p>

<p>
The response was faint, hard to hear from the audience. “As many as they want—if they still want to learn, I’ll keep teaching them.”
</p>

<p>
Back into the mic came the announcer’s voice “Lifetime Ukulele Lessons!”
</p>

<p>
And so for $60 dollars I got lifetime ukulele lessons at the Purim charity auction.
</p>

<p>
And so it began…
</p>

<p>
Michael taught me a song his friend Helen had taught him, easy for beginning uke—only 3 chords. And it fluttered in my head for a week, lesson to lesson, the tune waiting there for me in the morning before I woke up.  (For those who know it, this was Peter Gabriel’s Book of Love, which only requires three chords and minimal skill.)
</p>

<p>
I think I fell in love first with Michael-as-teacher.  I found (find) music very challenging—its hard to hear what notes are which and rhythm slips away the moment it arrives. But Michael just noticed what I did easily and what was hard, and would make a simple suggestion—a-tuned to what he had noticed, usually one word or less. And somehow in that word I knew he understood me, and what I was trying to grasp, helping me quietly on the way.
</p>

<p>
And, it's been something of a skill swap–turned deep affection since then.
</p>

<p>
Uke lessons happened in the back garden, at night, in the season the cucumbers were ripe, and next spring we built garden beds and planted together. Quickly  Michael knew all the varieties of cukes and what plants to intercrop them with so the bugs would eat the other plans and miss our baby cucumber sprouts. Indoors we painted together—black and white scenes from his travels, him with one paintbrush, me with another—one of us backing up and squinting at the picture from far away, telling the other where to add more white.
</p>

<p>
Michael taught me Dominion (before I rarely played board games—now I feel like a new evangelical, bringing the box with me on vacations in case we can convince anyone new to try it).
</p>

<p>
And, on Mem Drive on Sundays, I (re)taught Michael how to  ride a bike. First on broad streets, and then on narrower bumpy paths to Walden Pond, and now commuting to work together on good weather days.  We alternate who rides in front based on who is riding slowly that day (slower person rides in front), and point out the cormorants fishing on the river on the way—calling back to each other when we spot turtles pulling themselves up to sun on the bouys. (Michael is an ace bird identifier now—he can tell you who is who by their calls most spring mornings.)
</p>

<p>
And on Michael’s birthday we had a new arrival: Wallace. We had talked about Wallace for a while, but it felt like something far off—when we were settled. A sign of home. Our upright piano moved in with two strong sweaty men, who unwrapped it in our living room. Dudley—my sister’s woodworking teacher--came to visit and named him Wallace. And now on evenings when I have a lot of work Michael plays while I type, and on evenings when I don’t I sometimes fall asleep on the couch as he plays.
</p>

<p>
The day we got engaged, Michael made kimchi at home first, with bok choy and no chili flakes because we couldn’t find kosher Korean chili. And for weeks after we were eating his engagement kimchi.
</p>

<p>
And here we are.
</p>

<br/><br/>
