<h1>Schedule</h1>

<h2>Friday, September 8th 2017:</h2>
<p>
  We will celebrate the beginning of Shabbat (the day of rest) and our
  wedding weekend together. Plan for Shabbat dinner, singing, chill time,
  board games, and star gazing if the weather is right.
</p>

<h2>Saturday, September 9th 2017:</h2>
<p>
We will relax into the weekend together, with plenty of time for eating,
hanging out, and exploring. There will be Shabbat services in the
day and activities at night.
</p>

<h2>Sunday, September 10th 2017:</h2>
<p>We get married! We celebrate!</p>
<p>
We will start the wedding rituals at 11:30 AM!
</p>
<p>
  Quiet ritual will grow more lively and flow into rowdy dancing
  and plenty of eating and celebration.
</p>
