<h1>Camp Laurelwood</h1>
<h2>463 Summer Hill Rd, Madison, CT 06443</h2>

<p>
Please come share the weekend with us at
<a href="http://www.camplaurelwood.org/prospective-families/interactive-map/" target="_blank">Camp Laurelwood</a>.
We would love for you to come from Friday
through Sunday, or whatever part works for you,
to celebrate together. The wedding itself is on
Sunday, September 10 at 11:30am.
</p>

<p>
There are fire pits and a pool, archery and
ziplines, art supplies and a lake with boating,
a stream and a swinging bench hanging from a
tree, a jungle gym and ball courts. And,
hopefully, you!
</p>

<p>
When we asked each other what we were most
excited about for our wedding, we had the same
answer: getting to spend quality hang-out time
with our loved ones and having them all meet
each other and get to discover each other’s
hilarious stories, quirks, and random talents.
</p>

<p>
We will do shabbat together at Camp Laurelwood.
One of the things we liked when we walked around
the camp was imagining all our friends’ kids
being comfortable there too -- we would love
for there to be little ones toddling around
and zooming about, creating a sense of
fun -- there are jungle gyms and lots of
quiet places (and under
{{#link-to 'lodging-camp'}}lodging{{/link-to}}, you
will see that we hope that there are enough
cabins for families with kids who want
them to be able to have some quiet space to
themselves.) We have also reserved a golf cart
for those with mobility limitations.
</p>

<p>
We are getting married in Connecticut, which
is where Michael was born and grew up. We
heard of Camp Laurelwood through a friend of a
friend, and then discovered that the chef used
to work at Rebekah’s college hillel, and the
mashgiach (kosher certification person) was an
old friend and rabbi. Camp Laurelwood is unfussy
and rustic. So don’t expect fancy, but do
expect fun and relaxed.
</p>
