<h1>Getting There</h1>
<h2>Baku Palace, 2001 Emmons Ave, Brooklyn, NY 11235</h2>

<h3>Map for directions:</h3>
<p>
  <img src="images/baku_map.jpg" width="100%"/>
</p>

<h3>Parking</h3>
<p>
  <img src="images/baku_parking.jpg" width="100%"/>
</p>
