
<div class="align-center login-box">
  <h1>Please enter the code to continue</h1>
  {{input type='password' placeholder="Enter Password" value=loginCode enter="submit"}}
  <button {{action "submit"}}>Submit</button>

  <div>
    {{#if errorMessage}}
      <span class="label label-danger">{{errorMessage}}</span>
    {{/if}}
  </div>
</div>
